<!DOCTYPE html>

<html>

    <head>
        <title> test_456 </title>
    </head>

    
    <body>   


        <script src = "http://localhost:7894/dist_index.js"></script>
        <script>
            
            onload = function ShowHello(){


                if( !sessionStorage.length ){   localStorage.setItem( 'getSessionStorageData', Date.now() )  }


                addEventListener('storage', function( event ){

                    if( event.key === 'getSessionStorageData' ){  // 新分頁開啟時 上面增加的 localStorage 會讓原分頁的 這個監聽觸發

                        localStorage.setItem( 'sessionStorageData', JSON.stringify( sessionStorage ) )  // 原分頁會把自己 所有 sessionStorage 的資料放入 localStorage

                        localStorage.removeItem( 'sessionStorageData' )  // 再將灌入的資料刪除 為了讓新分頁觸發 得到這份薪資料 而原分頁保持不動
                    }


                    if ( event.key === 'sessionStorageData' && !sessionStorage.length ){  
                        // 新分頁感知到 原分頁增加了 某資料 並複製下來,     !sessionStorage.length 是為了讓已有資料的原分頁不需再重複獲取
                        
                        const data = JSON.parse(event.newValue)
                        
                        for (let key in data) {  sessionStorage.setItem( key, data[key] )  }
                        // 得到原分頁的所有 sessionStorageData 訊息

                    }
                })


            }


        
        </script>
        


    </body>

</html>